body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f0f0f0;
    margin: 0;
}

canvas {
    background: transparent;
    display: block;
    border: 2px solid #333;
    position: absolute;
    top: 0;
    left: 0;
}

#canvascontainer {
    position: relative;
    width: 800px;
    height: 600px;
}

#gunner {
    position: absolute;
    top: 180px;
    left: 10px;
}

#tank {
    position: absolute;
    top: 180px;
    left: 110px;
}

/* Level buttons */

.levelBtn {
    background-color:rgb(144, 144, 199);
}

.levelBtn:hover {
    background-color:rgb(181, 181, 214);
}

#level1Btn {
    position: absolute;
    top: 190px;
    left: 320px; 
}

#level2Btn {
    position: absolute;
    top: 130px;
    left: 400px; 
}

#level3Btn {
    position: absolute;
    top: 115px;
    left: 590px; 
}

#back {
    position: absolute;
    bottom: 50px;
    left: 48%;
}